@import '~antd/dist/reset.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.fancy-text {
    color: #fff;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    letter-spacing: -1px;

    font-size: 22px;
    font-weight: bold;
    user-select: none;
}

.app {
    display: grid;
    grid-template-columns: 480px 480px;
    grid-template-rows: auto auto;
    align-items: flex-start;
    grid-gap: 20px;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 1020px;
}

.keyboard-shortcuts {
    grid-column: 1 / 3;
}

@media (max-width: 1000px) {
    .app {
        grid-template-columns: min(480px, 100%);
        max-width: 480px;
    }

    .keyboard-shortcuts {
        grid-column: 1;
    }
}
